<%- include('../_partial/_header'); -%>

    <h1>AOTWB's self-esteemerator</h1>

    <form action="/submitdiary" method="POST"> 
        <textarea name="message" rows="100" cols="100">Tell, in detail...</textarea>
        <input type="submit" value="Submit" /> 
    </form> 

<%- include ('../_partial/_footer'); -%>