<%- include('../_partial/_header'); -%>

    <h1>Form</h1>

    <form action="/submitdiary" method="POST"> 
        <textarea name="entry" rows="100" cols="100">Tell, in detail...</textarea>
        <input type="submit" value="Submit" /> 
    </form> 

<%- include ('../_partial/_footer'); -%>